.container-fluid.cbp-spmenu-push {
  padding: 0;
  width: 96.5%;
}
.menu-toggle {
  cursor: pointer;
}
#menu-items #dummy,
#menu-items .subs {
  display: none;
}
.workbook-handler {
  padding: 10px;
}
.no-workbook-permission {
  display: none;
}
